<div class="report-widget">
    <h3><?= $this->property('title') ?></h3>

    <?php if( $this->property('showList') ): ?>
        <ul class="list-nostyle">
            <?php foreach( $notes as $note ): ?>
                <li class="list-group-item"><?= $note->title ?></li>
            <?php endforeach ?>
        </ul>

        <br/>
    <?php endif; ?>

    <form></form>
    <?= Form::open([
            'url'       => Backend::url('rafie/quicknote/notes/store'),
            'method'    => 'POST'
        ]);
    ?>
    <div class="form-group">
        <input class="form-control" type="text" name="title" placeholder="Title" required />
    </div>

    <div class="form-group">
        <textarea class="form-control" name="description" id="" cols="30" rows="10" placeholder="You have something to say?"></textarea>
    </div>

    <div class="form-group">
        <input type="submit" class="btn btn-primary" value="Submit" />
        <a href="<?= Backend::url('rafie/quicknote/notes/index') ?>">Manage your notes</a>
    </div>

    <?= Form::close(); ?>
</div>